@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

@media (max-width: 992px) {
  body{
      padding-top: 0 !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) { 
  body{
      padding-top: 120px;
  }
  .navbar-inverse .navbar-nav > li > a{
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 400;
  }
  .video-banner video{
      height: 600px;
  }
  .video-banner .container{
      height: 600px;
  }
  .product-item button{
    font-size: 13px !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 992px) { 
  .video-banner video{
      height: 600px;
  }
  .video-banner .container{
      height: 600px;
  }
 
}
@media (max-width: 767px) {
  .product-item button{
    font-size: 13px !important;
  }
}